# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Recommended for Vite
node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.*
!.env.example

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
Desktop.ini

# Build tools
.cache
.parcel-cache
.eslintcache
